<div class="form-container">
    <form [formGroup]="createForm" (ngSubmit)="createOffer">

        <h1>Add Offer</h1>
        <div class="form-field">
            <input type="text" name="name" id="name" placeholder="Name" formControlName="name">
        </div>

        <ng-container *ngIf="createForm.get('name')?.touched">
            <p class="error" *ngIf="createForm.get('name')?.errors?.['required']">
                Name is required
            </p>
        </ng-container>

        <div class="form-field">
            <input type="text" name="imageUrl" id="imageUrl" placeholder="Image URL" formControlName="imageUrl">
        </div>

        <ng-container *ngIf="createForm.get('imageUrl')?.touched">
            <p class="error" *ngIf="createForm.get('imageUrl')?.errors?.['required']">
                Image URL is required!
            </p>
        </ng-container>

        <div class="form-field">
            <input type="text" name="location" id="location" placeholder="Location" formControlName="location">
        </div>

        <ng-container *ngIf="createForm.get('location')?.touched">
            <p class="error" *ngIf="createForm.get('location')?.errors?.['required']">
                Location is required!
            </p>
        </ng-container>

        <div class="form-field">
            <input type="text" name="price" id="price" placeholder="Price Per Day" formControlName="price">
        </div>

        <ng-container *ngIf="createForm.get('price')?.touched">
            <p class="error" *ngIf="createForm.get('price')?.errors?.['required']">
                Price is required!
            </p>
        </ng-container>

        <div class="form-field">
            <textarea type="text" name="description" id="description" placeholder="Description" formControlName="description" ></textarea>
        </div>

        <ng-container *ngIf="createForm.get('description')?.touched">
            <br>
            <p class="error" *ngIf="createForm.get('description')?.errors?.['required']">
                Description is required!
            </p>
        </ng-container>

        <div class="submit-btn">
            <button type="submit" [disabled]="createForm.invalid">Create Offer</button>
        </div>
    </form>
</div>