<div class="wrapper">
    <div class="form-container">
        <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
            <h1>Login</h1>
            <div class="form-field">
                <input type="text" class="form-control" id="email" name="Email" placeholder="email" required pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}" ngModel #email="ngModel" />
                <i class="fa fa-envelope"></i>
            </div>

            <ng-container *ngIf="email.invalid && email.touched">
                <p class="error" *ngIf="email.errors?.['required']">
                    Email is required
                </p>
                <p class="error" *ngIf="email.errors?.['pattern']">
                    Invalid email
                </p>
            </ng-container>
    
            <div class="form-field">
                <input type="password" class="form-control" id="password" name="Password" placeholder="password" required minlength="5" ngModel #password="ngModel" />
                <i class="fa fa-key"></i>
            </div>

            <ng-container *ngIf="password.invalid && password.touched">
                <p class="error" *ngIf="password.errors?.['required']">
                    Password is required
                </p>
                <p class="error" *ngIf="password.errors?.['minlength']">
                    Password must be at least 5 characters
                </p>
            </ng-container>
            
            <div class="submit-btn">
                <button type="submit" [disabled]="loginForm.invalid">Log in</button>
            </div>
        
            <div class="register-link">
                <p>New to Renteable?  <a routerLink="/user/register">Register here!</a></p>
            </div>
        </form>
    </div>
</div>
