<div>
    {{ offer.imageUrl }}
</div>
<div>
    <p>{{ offer.name }}</p>
    <p>{{ offer.location }}</p>
    <p>{{ offer.description }}</p>
    <p>{{ offer.pricePerDay }}</p>
    <p>{{ offer.ownerId }}</p>
</div>

<ng-container *ngIf="user$ | async as user">
    <div *ngIf="user.uid === offer.ownerId">
        <button routerLink="/offers/{{ offer._id }}/edit">Edit</button>
        <button (click)="onDelete()">Delete</button>
    </div>
    <div *ngIf="user.uid !== offer.ownerId">
        <button (click)="onSubmitRequest()">Submit request</button>
    </div>    
</ng-container>
