<div>
    {{ offer.imageUrl }}
</div>
<div>
    <p>{{ offer.name }}</p>
    <p>{{ offer.location }}</p>
    <p>{{ offer.description }}</p>
    <p>{{ offer.pricePerDay }}</p>
    <p>{{ offer.ownerId }}</p>
    <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
</div>

<ng-container *ngIf="(user$ | async) as user">
    <div *ngIf="user.uid === offer.ownerId">
        <button routerLink="/offers/{{ offer._id }}/edit">Edit</button>
        <button (click)="onDelete()">Delete</button>
    </div>
    <div *ngIf="user.uid !== offer.ownerId">
        <button *ngIf="!alreadySubmitted" (click)="onSubmitRequest()">Submit request</button>
        <p *ngIf="alreadySubmitted">You have already submitted request for this offer</p>
    </div>    
</ng-container>
